<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3>Ajouter un profil</h3>
        </div>
        <div class="card-body">
          <form >
            <div class="form-group">
              <label for="">libelle</label>
              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Help text</small>
            </div>
            <button type="button" name="" id="" class="btn btn-primary btn-lg float-left">Ajouter</button>
            <button type="button" name="" id="" class="btn btn-primary btn-lg float-right" [routerLink]="['list']">Annuler</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
