<div class="row">
  <div class="col-md-2">
    <div class="list-group shadow-lg">
      <button type="button" class="list-group-item list-group-item-action active" [routerLink]="['promo']"><i class="fas fa-university"></i>Promotion</button>
      <button type="button" class="list-group-item list-group-item-action" [routerLink]="['referentiel']"><i class="far fa-copy"></i> Referentiel</button>
      <button type="button" class="list-group-item list-group-item-action " [routerLink]="['competence']"><i class="fas fa-book"></i>competences</button>
      <button type="button" class="list-group-item list-group-item-action " [routerLink]="['grpCompetence']">Groupe de competences</button>
      <button type="button" class="list-group-item list-group-item-action" [routerLink]="['grpTag']">groupe tags</button>
      <button type="button" class="list-group-item list-group-item-action" [routerLink]="['profilSortie']"><i class="fas fa-graduation-cap"></i>profils Sortie</button>
    </div>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>


